@charset "UTF-8";

body {
    background-image: linear-gradient(90deg, #27E3F0, #28EEFC);
    font-family: sans-serif;
}

h1 {
    color: #105357;
}

h2 {
    color: orange;
}

div {
    text-align: center;
}

h1#principal {
    color: #28EEFC;
    background-color: #1CA6B0;
}
.basico {
    color: green;
    font-weight: bolder;
}

.intermediario {
    color: yellow;
}

.avançado {
    color: red;
}